nav{
    height:50px;
    background-color: brown;
    line-height: 30px;
}
nav li{
list-style: none;
float:left;
padding:10px;

}
nav li:hover{
background-color: cadetblue;
}
nav a{
text-decoration: none;
}
nav>ul>li:hover>ul{
    display:none;
}